$text-color: darken(#fff, 85%);

.contact {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  padding: 5% 0;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  overflow-y: scroll;
  z-index: 100;

  .title {
    color: #fff;
    text-align: center;
    font-weight: 100;
  }

  .box {
    -moz-box-shadow: 0 0 12px 4px rgba(0,0,0,.12);
    -webkit-box-shadow: 0 0 12px 4px rgba(0,0,0,.12);
    box-shadow: 0 0 12px 4px rgba(0,0,0,.12);
    border-width: 1px;
    border-style: solid;
    background-color: #fff;
    border-color: #2c2e31;
    color: $text-color;

    .content {
      padding: 24px;
    }

    .buttons {
      margin: 0;
      text-align: center;

      text-transform: uppercase;

      .col-sm-6, .col-sm-12 {
        padding: 10px 0;
        border-style: solid;
        border-width: 0;
        border-top-width: 1px;
        cursor: pointer;
      }

      .cancel-col {
        border-top-right: 1px;
        border-color: darken(#fff, 10%);
        background-color: darken(#fff, 8%);
        color: $text-color;
        &:hover {
          background-color: darken(#fff, 5%);
        }
      }
      .send-col {
        border-color: darken(#fff, 10%);
        background-color: darken(#fff, 12%);
        color: $text-color;
        &:hover {
          background-color: darken(#fff, 6%);
        }
      }
    }
  }

  form {
    font-weight: 400;
    .form-control {
      border-radius: 0;
      color: $text-color;
      background-color: darken(#fff, 10%);
      border-color: darken(#fff, 14%);
      box-shadow: none;

      &:focus {
        background-color: darken(#fff, 4%);
      }
    }
    .has-error {
      .form-control {
        box-shadow: none;
      }
    }
  }
}
