.work-show {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  color: #fff;


  .images.row {
    margin: 0 5px;

    .col-sm-3 {
      padding: 0;
    }

    .image-item {
      margin: 2px;
      height: 220px;
      background-size: cover;
      background-position: center;
    }
  }

}
