<template name="home">
  <div class="home-footer">
    <div class="container-fluid">
      <ul class="social-icons">
        <li>
          <a href="{{ dict 'social.facebook' }}" target="_blank"><i class="fa fa-fw fa-facebook"></i></a>
        </li>
        <li>
          <a href="{{ dict 'social.twitter' }}" target="_blank"><i class="fa fa-fw fa-twitter"></i></a>
        </li>
        <li>
          <a href="{{ dict 'social.instagram' }}" target="_blank"><i class="fa fa-fw fa-instagram"></i></a>
        </li>
      </ul>
    </div>
  </div>
</template>
