<template name="workImage">
  <div class="gallery">
    <div class="hover-btn close-btn"></div>
    <div class="hover-btn right-btn {{# unless hasNext }}disabled{{/ unless }}"></div>
    <div class="hover-btn left-btn {{# unless hasPrevious }}disabled{{/ unless }}"></div>
    {{# with work }}
      <div class="current" style="background-image: url({{ image.url }})">
      </div>
      {{# if description }}
        <div class="description">
          {{ description }}
        </div>
      {{/ if }}
      <div class="dropup">
        <a class="dropdown-toggle" href="#" data-toggle="dropdown" data-hover="dropdown">
          <img src="/share.png" alt="Share" />
        </a>
        <ul class="dropdown-menu">
          <li><a href="Hola"><i class="fa fa-fw fa-facebook"></i>Share on Facebook</a></li>
          <li><a href="Hola"><i class="fa fa-fw fa-twitter"></i>Share on Twitter</a></li>
          <li><a href="Hola"><i class="fa fa-fw fa-envelope"></i>Send by email</a></li>
        </ul>
      </div>
    {{/ with }}
  </div>
</template>
