<template name="workShow">
  {{# with category }}
    <div class="work-show">
      <div class="container-fluid">
        <div class="breads">
          <span>
            <a href="{{ pathFor 'home' }}"><i class="fa fa-home"></i></a>
          </span>
          <span><i class="fa fa-angle-right"></i></span>
          <span>
            {{ dict 'menu.workTitle' }}
          </span>
          <span><i class="fa fa-angle-right"></i></span>
          <span class="current">
            {{ title }}
          </span>
        </div>
        <div class="images">
          <!--{{# each works }}
            <a href="{{ pathFor 'work.image' url=../url }}">
              <img src="{{ image.url }}" alt="{{ _id }}" />
            </a>
            <div class="item" style="background-image: url(); background-color: {{ image.info.backgroundColor }}; width: {{ widthForHeight }}px; height: {{ imageHeight }}px">
            </div>
          {{/ each }}-->
        </div>
      </div>
    </div>
  {{/ with }}
</template>
