<template name="header">
  <div class="header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4">
          <a href="{{ pathFor 'home' }}">
            <img class="logo" src="{{ dict 'global.logo.url' }}" alt="{{ dict 'seo.title' }}" />
          </a>
        </div>
        <div class="col-sm-8">
          <ul class="tabs">
            <li class="{{ isActivePath regex='interiorismo' }}">
              <a href="{{ pathFor 'publications.index' type='interiorismo' }}">
                {{ dict 'menu.interiorismoTitle' }}
              </a>
            </li>
            <li class="{{ isActivePath regex='mobiliario' }}">
              <a href="{{ pathFor 'publications.index' type='mobiliario' }}">
                {{ dict 'menu.mobiliarioTitle' }}
              </a>
            </li>
            <li class="{{ isActiveRoute regex='construction' }}">
              <a href="{{ pathFor 'construction' }}">
                {{ dict 'menu.constructionTitle' }}
              </a>
            </li>
            <li class="{{ isActiveRoute regex='bio' }}">
              <a href="{{ pathFor 'bio' }}">
                {{ dict 'menu.bioTitle' }}
              </a>
            </li>
            <li>
              <a href="#" class="contact-link">
                {{ dict 'menu.contactTitle' }}
              </a>
            </li>
            <li class="divider hidden-xs hidden-sm"></li>
            <li class="hidden-xs hidden-sm">
              <a href="{{ pathFor 'home' }}">
                <i class="fa fa-home"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <style>
    .header{
      background-color: {{ dict 'menu.backgroundColor' }};
    }
    .header .tabs > li > a:hover, .header .tabs > li.active > a {
      color: {{ dict 'menu.hoverColor' }};
    }
  </style>
</template>
